.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 15px;
      letter-spacing: 4px;
      font-weight: bold;
      transition: top 0.2s ease-in-out;
}

#main-img {
      background-image: url('../images/bg.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-top: 270px;
      padding-bottom: 270px;
}

#web-dev {
      font-size: 50px;
      font-weight: bold;
}

.row{
      padding-top: 10px;
}

a{
      padding: 10px;
      color: black;
}

#main-bio {
      padding-left: 120px;
      padding-right: 120px;
}

.title {
      font-size: 30px;
      font-weight: bold;
      font-family: "Arial Black";
}

.article{
      padding-top: 25px;
}

#skillstitle{
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      font-family: "Tahoma";
}

#second-img {
      background-image: url('../images/ocean.jpg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-filter: invert(.5);
      filter: invert(.5);
      padding-top: 270px;
      padding-bottom: 270px;
}

#img-container {
      text-align: center;
}

.skills-div {
      padding: .75em;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 2em 10em;
}

#skills-list {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      width: 720px;
}
#skills-list li {
      float: left;
      padding: 20px;
}
.tech-img {
      width: 80px;
      height: 80px;
      padding: 5px;
      -webkit-box-shadow: 5px 5px 5px #111;
      box-shadow: 5px 5px 5px #111;
}

#projectsDiv{
      margin-top: 60px;
}

.project-head{
      text-align: center;
      font-weight: bold;
}

.pro-descript{
      text-align: center;
}

#img-div{
      background-color: #F0F0F0;
}

#myProjects{
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      font-family: "Tahoma";
}

#image-div{
      margin-top: 60px;
}

.project-img{
      width: 350px;
      height: 200px;
}

#footer{
      margin-top: 40px;
      width: 100%;
      background-color: #d9d9d9;
}

.smallFooter{
      padding: 20px;
}

@media only screen and (max-width: 768px){
     #skills-list {
      width: 100%;
      text-align: center
     } 
}
